<div class="container">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pokemon">Favorites</a>
        </li>
      </ul>
    <div class="media">
        <img src="<%= pokemon.sprites.front_default %>" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0"><%= pokemon.name %> </h5>
          <p>basic info:</p>
          <ul>
              <li>
                  <p> Height: <%= pokemon.height %>  </p>
              </li>
              <li>
                <p> Weight: <%= pokemon.weight %>  </p>
            </li>
              <% for(let i=0; i< pokemon.types.length; i++){ %> 
              <li>
                  <p> Type: <%= pokemon.types[i].type.name %> </p>
              </li>
            <% } %> 
          </ul>
      
          <div class="media mt-3">
            <a class="mr-3" href="#">
              <img src="<%= pokemon.sprites.back_default %>" class="mr-3" alt="...">
            </a>
            <div class="media-body">
              <h5 class="mt-0">Stats</h5>
              <ul>
                <% for(let i=0; i< pokemon.stats.length; i++){ %> 
                    <li> <%= pokemon.stats[i].stat.name %>: <%= pokemon.stats[i].base_stat %> </li>
                <% } %> 
              </ul>
            </div>
        </div>
        <form method="POST" action="/delete?_method=DELETE">
            <h3>Remove</h3>  
            <h1> <%= pokemon.name %>  </h1> 
            <button type="submit" value="<%= pokemon.name %> "name="name">DELETE</button>
        </form>
        </div>
      </div>
</div>

