<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="/"><h3><u>Home</u></h3></a>
  <a class="navbar-brand" href="/pokemon"><h3><u>Favorites</u></h3></a>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
    <h1 class="pokemon-name">
      <%= pokemon.name %> 
    </h1>
  </div>
</nav>

<div class="container">
   <div class="row">
     <div class="col">
      <div class="media p-2 info-container">
        <img src="<%= pokemon.sprites.front_default %>" class="mr-3 front" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Basic info </h5>
          <ul>
              <li>
                  <p> Height: <%= pokemon.height %>  </p>
              </li>
              <li>
                <p> Weight: <%= pokemon.weight %>  </p>
            </li>
              <% for(let i=0; i< pokemon.types.length; i++){ %> 
              <li>
                  <p> Type: <%= pokemon.types[i].type.name %> </p>
              </li>
            <% } %> 
          </ul>
      
          <div class="media mt-3 p-2 stats-container">
            <a class="mr-3" href="#">
              <img src="<%= pokemon.sprites.back_default %>" class="mr-3 back" alt="...">
            </a>
            <div class="media-body">
              <h5 class="mt-0">Stats</h5>
              <ul>
                <% for(let i=0; i< pokemon.stats.length; i++){ %> 
                    <li><p> <%= pokemon.stats[i].stat.name %>: <%= pokemon.stats[i].base_stat %> </p></li>
                <% } %> 
              </ul>
            </div>
        </div>
        </div>
      </div>
     </div>
     <div class="col">
       <div class="poke-img-container d-flex flex-column align-items-center">
      <img class="poke-img" src="<%= pokemon.sprites.other.dream_world.front_default %>" alt="">
    </div>
      <form method="POST" action="/delete?_method=DELETE"> 
        <button type="submit" value="<%= pokemon.name %>"name="name">REMOVE</button>
    </form>
     </div>
   </div>
   <div class="">
     <div>
       <h1 class="abilities">Abilities</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"> #</th>
              <th scope="col"> Move </th>
              <th scope="col">Level Learned</th>
            </tr>
          </thead>
            <% for(let i=0; i < pokemon.moves.length; i++){ %> 
              <tbody>
               <tr>
                 <th scope="row"><%= i+1 %></th>
                 <td> <%= pokemon.moves[i].move.name %> </td>
                 <td> <%= pokemon.moves[i].version_group_details[0].level_learned_at %> </td>
               </tr>
              </tbody>
            <% } %> 
          </table>
        </div>   
    </div>
</div>



